/* Navbar styles */
.navbar {
    /* background-color: #000; */
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    /* background: transparent; */
    backdrop-filter: blur(10px);
    opacity: 80%;
}

.navbar__logo img {
    width: 100px;
}

.navbar__menu ul {
    list-style: none;
    display: flex;
}

.nav-1,
.nav-2 {
    display: flex;
    column-gap: 0.5em;
    align-items: center;
}

.navbar__menu ul li {
    margin-right: 20px;
}

.navbar__menu ul li:last-child {
    margin-right: 0;
}

.navbar__menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.navbar__search input {
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    outline: none;
}

.userIcon {
    width: 45px;
    height: 45px;
}

/* Style for the search input, you may want to add JS functionality for search */
.navbar__search input:focus {
    background-color: rgba(0, 0, 0, 0.7);
}

.dropdownAnchor {
    color: white;
    cursor: pointer;
    padding: 0.25em;
    margin-left: 0.25em;
    background-color: transparent;
    border: none;
    /* width: 20px; */
}

.dropdownAnchor:hover {
    /* border: 1px solid black; */
    box-shadow: 0 0 4px grey;
}

#logout {
    color: black;
}

select {
    background: transparent;
    /* border: none; */
}

select option {
    padding: 10em;
}
